:root {
  --primary-color: #412d71;
  --secondary-color: #deae69;
  --bg-highlight: #f9f9f9;
}

body {
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

h1 {
  font-weight: 900;
}

h2 {
  font-family: "Source Serif Pro", serif;
  font-size: 30px;
}

input {
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 10px;
  width: 500px;
  border-radius: 10px;
  border: solid 1px;
}

textarea {
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 10px;
  width: 500px;
  border-radius: 10px;
  border: solid 1px;
}

i {
  font-size: 30px;
  margin: 0px 10px;
  color: var(--primary-color);
}

ul {
  padding: 0px;
}

li {
  display: inline;
}

.logo-navbar {
  max-height: 30px;
  margin-right: 15px;
}

.nav-center {
  margin-left: 15px;
}

.block-hero {
  padding: 150px 100px;
  text-align: left;
}

.block-left {
  padding: 100px;
  text-align: left;
}

.block-right {
  padding: 100px;
  text-align: right;
}

.block-center {
  padding: 100px;
  text-align: center;
}

.about-me.block-center {
  padding: 30px 100px;
  text-align: center;
}

.block-center p {
  margin-bottom: 0px;
}

.bg-highlight {
  background-color: var(--bg-highlight);
}

.title-hero {
  font-family: "Source Serif Pro", serif;
  font-size: 50px;
}

.img-hero {
  max-width: 280px;
}

.top-portfolio {
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(222, 174, 105, 1) 50%
  );
}

.img-section {
  max-width: 400px;
}

.icon-img {
  max-width: 35px;
  margin-bottom: 10px;
}

.featured-img {
  max-width: 290px;
  border-radius: 15px;
  margin: 10px;
}

.primary-button {
  background-color: var(--secondary-color);
  color: white;
  border-radius: 10px;
  padding: 15px;
  text-decoration: none;
  font-size: 14px;
  border: none;
}

.primary-button:hover {
  color: white;
  font-weight: 700;
}

.space-bottom {
  padding-bottom: 40px;
}

.secondary-button {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  border-radius: 10px;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 14px;
}

.secondary-button:hover {
  color: var(--secondary-color);
  font-weight: 700;
}

.grid-skills {
  text-align: center;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.featured-projects {
  margin: 30px 0px;
}

.contact-form {
  text-align: left;
  padding: 50px 100px;
}

.input-description {
  color: var(--secondary-color);
}

.padding-short {
  padding-top: 50px;
  padding-bottom: 0px;
}

.portfolio-categories {
  margin-top: 30px;
}

.portfolio-links {
  text-decoration: none;
  margin: 0px 10px;
  color: var(--secondary-color);
}

.portfolio-links:hover {
  font-weight: 700;
  color: var(--secondary-color);
}

.portfolio-links:visited {
  color: var(--secondary-color);
}

.projects.block-center {
  padding: 30px 30px;
}

.project-page-title {
  margin: 40px;
  text-align: center;
}

.project-block {
  margin-top: 50px;
  margin-bottom: 50px;
}

.project-page-image {
  width: 80%;
  margin: 0 auto;
  display: block;
}

.footer {
  padding: 0px 30px;
  margin-bottom: 15px;
}

/* RESPONSIVENESS */

@media (max-width: 1283px) {
  .contact-form {
    text-align: center;
    padding: 20px 30px;
  }
}

@media (max-width: 805px) {
  input {
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 10px;
    width: 250px;
  }

  textarea {
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 10px;
    width: 250px;
  }

  i {
    font-size: 20px;
    margin: 0px 10px;
    color: var(--primary-color);
  }

  .img-hero-col {
    display: none;
  }

  .block-hero {
    padding: 80px 30px;
    text-align: center;
  }

  .block-left {
    padding: 80px 30px;
    text-align: center;
  }

  .block-right {
    padding: 80px 30px;
    text-align: center;
  }

  .block-center {
    padding: 80px 30px;
    text-align: center;
  }

  .img-section {
    max-width: 200px;
  }

  .contact-form {
    text-align: center;
    padding: 20px 30px;
  }

  .footer {
    padding: 0px 30px;
    margin-bottom: 15px;
    font-size: 12px;
  }

  .name-footer {
    display: none;
  }

  .padding-short {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
